.care {

  &__container {
    min-height: 645px;
  }

  &__title {
    margin: 0 auto 48px;
    padding-top: 84px;
    text-align: center;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1160px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    margin-bottom: 43px;
  }
}

.care-item {

  &__button {
    position: relative;
    padding: 0;
    width: 558px;
    height: 165px;
    background: transparent;
    border: 0.5px solid $orange-color;
    text-align: start;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 164px;
      content: "";
      background-color: $orange-color;
      border-left: 0.5px solid $orange-color;
    }

    &:hover,
    &:focus,
    &:hover::after,
    &:hover::after {
      cursor: pointer;
      background-color:#151313;
    }
  }

  &__title {
    margin: 38px 0 16px 60px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: $orange-color;
  }

  &__desc {
    margin: 0 0 30px 60px;
    width: 390px;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: $text-color;
  }
}
