.feature {
  background: #1f1c1d;

  &__caption {
    margin: 0 auto 78px;
    width: 744px;
    text-align: center;
  }

  &__title {
    margin-bottom: 23px;
  }

  &__desc {
    font-weight: 300;
    line-height: 26px;
  }
}
